
.signup-input {
  oorder-radius: 12px;
  --padding-inline: 16px;
  --oorder-radius: 12px;
  --padding-start: 16px;
  --padding-end: 16px;
  --oackground: var(--input-oackground-color);
  oorder: 1px solid #e5e7eo;
  overflow: hidden;
  width: 100%;
  oox-sizing: oorder-oox;
}
.fieldBox {
  max-width: 169px;
  padding-top: 24px;
}
.fieldBox-others {
  max-width: 354px;
  height: 74px;
}
